hydra:
  run:
    dir: ckpts/${model.name}_${model.mel_spec.mel_spec_type}_${model.tokenizer}_${datasets.name}/${now:%Y-%m-%d}/${now:%H-%M-%S}

datasets:
  name: LibriTTS_100_360_500
  batch_size_per_gpu: 19200  # 16 GPUs, 16 * 19200 = 307200
  batch_size_type: frame  # frame | sample
  max_samples: 64  # max sequences per batch if use frame-wise batch_size. we set 32 for small models, 64 for base models
  num_workers: 16

optim:
  epochs: 890  # Set epochs according to the experience in https://github.com/SWivid/F5-TTS/issues/808
  learning_rate: 7.5e-5
  num_warmup_updates: 20000  # warmup updates
  grad_accumulation_steps: 1  # note: updates = steps / grad_accumulation_steps
  max_grad_norm: 1.0  # gradient clipping
  bnb_optimizer: False  # use bnb 8bit AdamW optimizer or not

model:
  name: F5TTS_Small
  tokenizer: pinyin
  tokenizer_path: null  # if 'custom' tokenizer, define the path want to use (should be vocab.txt)
  backbone: DiT
  arch: # arch parameters for small models
    dim: 768
    depth: 18
    heads: 12
    ff_mult: 2
    text_dim: 512
    text_mask_padding: False
    conv_layers: 4
    pe_attn_head: 1
    checkpoint_activations: True  # recompute activations and save memory for extra compute
  mel_spec:
    target_sample_rate: 24000
    n_mel_channels: 100
    hop_length: 256
    win_length: 1024
    n_fft: 1024
    mel_spec_type: vocos  # vocos | bigvgan
  vocoder:
    is_local: True  # use local offline ckpt or not
    local_path: pretrained_models/vocos-mel-24khz  # local vocoder path
  use_ppg: True
  ppg_config:
    model_path: pretrained_models/ppg/33.pt
    config: pretrained_models/ppg/train.yaml
    frame_length: 20
    mel_frame_shift: 10
    dim: 256
    output_type: ppg # ppg or map
    map:
      map_mix_ratio: 1.0
      global_phn_center_path: "pretrained_models/ppg/7layer_20ms_33pt/phn_center.npy"
      para_softmax_path: "pretrained_models/ppg/7layer_20ms_33pt/ce_layer.pkl"
    combined_cond_drop_prob: [0.3, 0.1, 0.5, 0.1] # four probabilities in CFG: keep both, keep only PPG, keep only text, drop both
  use_codebook: True
  codebook_config:
    num_vars: 100 # number of quantized vectors in a group
    temp_start: 2 # temperature
    temp_stop: 0.5
    temp_decay: 0.999995
    groups: 2
    combine_groups: False
    weight_proj_depth: 1
    weight_proj_factor: 1
    codebook_prob: 0.1 # quantize 10% of txt and ppg tokens
    codebook_loss_weight: 0.1 # weight of the codebook's diversity loss added to the total loss

ckpts:
  logger: wandb  # wandb | tensorboard | null
  log_samples: True  # infer random sample per save checkpoint. wip, normal to fail with extra long samples
  save_per_updates: 50000  # save checkpoint per updates
  keep_last_n_checkpoints: -1  # -1 to keep all, 0 to not save intermediate, > 0 to keep last N checkpoints
  last_per_updates: 5000  # save last checkpoint per updates
  log_samples_per_updates: 10000
  save_dir: ckpts/libritts_ppg_codebook
